.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.login {
  font-size: 2em;
  color: black;
}



.field {
  color: black;
}



/* ===============================Registration page================================= */
.registration_Container {
  width: 30em;
  padding: 50px;
  height: 70vh;
}

.text_Div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.setMargin {
  margin-Left: 20px;
}

.registration_Form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.set_Button {
  justify-content: center;
  align-items: center;
}

/* ==============================Login page================================ */
.login_Container {
  width: 30em;
  padding: 50px;
  height: 30vh;
}

.login_Form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.set_Div {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}