.App {
  text-align: center;
}
.body{
  width: fit-content;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login {
  text-align: center;
  font-size: 2em;
  color: black;
}

.field {
  color: black;
}

/* ===============================Registration page================================= */
.registration_Container {
  background-color: lightslategray;
  box-shadow: 0px 0px 10px 2px;
  width: 30em;
  padding: 50px;
  height: 70vh;

}

.app_name {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  outline-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text_Div {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.setMargin {
  margin-Left: 20px;
}
.registration_Form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.set_Button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

/* ==============================Login page================================ */
.login_Container {
  background-color: lightslategray;
  box-shadow: 0px 0px 10px 2px;
  width: 15em;
  padding: 50px;
  height: 40h;
}

.login_Form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.set_Div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.style_Button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.set_LoginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#styled_component {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 3px;
}

.forget_style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#message-id {
  margin-left: 100px;
  margin-right: 80px;
}

/* =============================  both  ============================================== */
.f {
  font-size: 50px;
  color: coral;
}

.u {
  font-size: 50px;
  color: forestgreen;
}

.n {
  font-size: 50px;
  color: steelblue;
}

.d {
  font-size: 50px;
  color: tomato;
}

.o {
  font-size: 50px;
  color: lightgreen;
}

.O {
  font-size: 50px;
  color: lightgreen;
}

.N {
  font-size: 50px;
  color: coral;
}

.t {
  font-size: 50px;
  color: violet;
}

.e {
  font-size: 50px;
  color: teal;
}

/* ========================================Forget Password======================================= */
#card_decor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px;
  height: 30vh;
  padding: 30px;
  width: 40%;
  background-color: lightcoral;
}

.card_position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.name_decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
}

#email_space {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#button_space {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ========================================Home Page======================================= */
.uName_style{
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appbar_decor{
  background-color: #FFFFE0;
  height: 10vh;
  min-width: fit-content;
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 0px 10px;
  flex-direction: row;
  align-items: center;
}
.appname_decor{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu_name{
  display: flex;
  flex-direction: row;
}
.search_icon{
  display: flex;
  width: 60%;
  height: 7vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  border: 2px solid gray;
  margin-left: 10px;
  border-radius: 5px;
}
.img_decor{
  margin-left: 10px;
  height: 6vh;
}
.img_place{
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawer_decor{
  background-color: lightsteelblue;
  width: 240px;
}
.acc_decor{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.arrow_decor{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}
.name_decor{
  display: flex;
  margin-left: 20px;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.drawer_head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.noteIcon_decor{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.listItemName_decor{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.label_decor{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 2px;
  margin-left: 5px;
}
.button_decor{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.avatar_decor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 10px;
}
/* ============================================Notes page======================================== */
#card{
  height: calc(100%-80px);
}
.ncard_decor{
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
}
.note_decor{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-left: 5px;
}
.title_pin{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 10px;
}
.title_pin1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}
.button_place{
  display: flex;
  justify-content: flex-end;
}
.icon_arrange{
  margin-top: 4px;
}
.arrange{
  display: flex;
  justify-content: space-around;
}
.arrang{
  display: flex;
  justify-content: space-between;
}
.more_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clrow_one{
  display: flex;
  flex-direction: row;
}
.colorrow{
  display: flex;
  flex-direction: row;
}
.changeiconsize{
  padding: 0px 0px 0px 0px;
}
.solidcolor_decor{
  height: 25px;
  width: 25px;
}
.solidcolor_button{
  padding: 0px 0px 0px 0px;
  border: 0px;
  background-color: white;
}
#colorIcon{
  padding: 0px;
  width: 25px;
}
.notesComponent{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.usernotes_decor{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.usersNote_decor{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pinText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 10%;
  margin-bottom: 20px;
}
.remain_decor{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.label_close{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid grey;
  justify-content:center;
  align-items: center;
  width: fit-content;
  border-radius:10px;
  margin-top: 5px;
}
#toolbar{
  padding:0px;
}
.note_card{
width: 60%;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 5%;
height: 9vh;
border: 1px solid lightgray;
box-shadow: 0px 0px 5px 1px;
border-radius: 10px;
border-color: lightgray;
}
.inputBase{
  width: -webkit-fill-available;
  display: flex;
  margin-left:2% ;
  justify-content: flex-start;
}
.inputBase2{
  display: flex;
  justify-content: flex-end;
}
@media screen and (maxwidth:320px){
  .appbar_decor{
    width: 100%;
  }
  .note_card{
    width:60%
  }
}
.color_change{
  background-color: #FFA500;
}